<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-experiencia-profissional-heading"
        data-cy="ExperienciaProfissionalCreateUpdateHeading"
        jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.home.createOrEditLabel"
      >
        Create or edit a Experiencia Profissional
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.empresa" for="field_empresa"
            >Empresa</label
          >
          <input type="text" class="form-control" name="empresa" id="field_empresa" data-cy="empresa" formControlName="empresa" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.cargo" for="field_cargo"
            >Cargo</label
          >
          <input type="text" class="form-control" name="cargo" id="field_cargo" data-cy="cargo" formControlName="cargo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.segmento" for="field_segmento"
            >Segmento</label
          >
          <input type="text" class="form-control" name="segmento" id="field_segmento" data-cy="segmento" formControlName="segmento" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.porte" for="field_porte"
            >Porte</label
          >
          <input type="text" class="form-control" name="porte" id="field_porte" data-cy="porte" formControlName="porte" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.inicio" for="field_inicio"
            >Inicio</label
          >
          <div class="input-group">
            <input
              id="field_inicio"
              data-cy="inicio"
              type="text"
              class="form-control"
              name="inicio"
              ngbDatepicker
              #inicioDp="ngbDatepicker"
              formControlName="inicio"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="inicioDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.fim" for="field_fim">Fim</label>
          <div class="input-group">
            <input
              id="field_fim"
              data-cy="fim"
              type="text"
              class="form-control"
              name="fim"
              ngbDatepicker
              #fimDp="ngbDatepicker"
              formControlName="fim"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="fimDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.descricaoAtividade"
            for="field_descricaoAtividade"
            >Descricao Atividade</label
          >
          <textarea
            class="form-control"
            name="descricaoAtividade"
            id="field_descricaoAtividade"
            data-cy="descricaoAtividade"
            formControlName="descricaoAtividade"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.salario" for="field_salario"
            >Salario</label
          >
          <input type="number" class="form-control" name="salario" id="field_salario" data-cy="salario" formControlName="salario" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.beneficios" for="field_beneficios"
            >Beneficios</label
          >
          <input
            type="number"
            class="form-control"
            name="beneficios"
            id="field_beneficios"
            data-cy="beneficios"
            formControlName="beneficios"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.criado" for="field_criado"
            >Criado</label
          >
          <div class="d-flex">
            <input
              id="field_criado"
              data-cy="criado"
              type="datetime-local"
              class="form-control"
              name="criado"
              formControlName="criado"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('criado')!.invalid && (editForm.get('criado')!.dirty || editForm.get('criado')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('criado')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('criado')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="portalVagasEmpregoApp.experienciaProfissional.pessoa" for="field_pessoa"
            >Pessoa</label
          >
          <select class="form-control" id="field_pessoa" data-cy="pessoa" name="pessoa" formControlName="pessoa">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="pessoaOption.id === editForm.get('pessoa')!.value?.id ? editForm.get('pessoa')!.value : pessoaOption"
              *ngFor="let pessoaOption of pessoasSharedCollection; trackBy: trackPessoaById"
            >
              {{ pessoaOption.nome }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
