<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="funcaoPessoa">
      <h2 data-cy="funcaoPessoaDetailsHeading">
        <span jhiTranslate="portalVagasEmpregoApp.funcaoPessoa.detail.title">Funcao Pessoa</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ funcaoPessoa.id }}</span>
        </dd>
        <dt><span jhiTranslate="portalVagasEmpregoApp.funcaoPessoa.funcao">Funcao</span></dt>
        <dd>
          <span jhiTranslate="{{ 'portalVagasEmpregoApp.Funcao.' + funcaoPessoa.funcao }}">{{ funcaoPessoa.funcao }}</span>
        </dd>
        <dt><span jhiTranslate="portalVagasEmpregoApp.funcaoPessoa.criado">Criado</span></dt>
        <dd>
          <span>{{ funcaoPessoa.criado | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="portalVagasEmpregoApp.funcaoPessoa.ativo">Ativo</span></dt>
        <dd>
          <span>{{ funcaoPessoa.ativo }}</span>
        </dd>
        <dt><span jhiTranslate="portalVagasEmpregoApp.funcaoPessoa.pessoa">Pessoa</span></dt>
        <dd>
          <div *ngIf="funcaoPessoa.pessoa">
            <a [routerLink]="['/pessoa', funcaoPessoa.pessoa?.id, 'view']">{{ funcaoPessoa.pessoa?.nome }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/funcao-pessoa', funcaoPessoa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
