<div>
  <h2 id="page-heading" data-cy="VagaHeading">
    <span jhiTranslate="portalVagasEmpregoApp.vaga.home.title">Vagas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="portalVagasEmpregoApp.vaga.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vaga"
        [routerLink]="['/vaga/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="portalVagasEmpregoApp.vaga.home.createLabel"> Create a new Vaga </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vagas?.length === 0">
    <span jhiTranslate="portalVagasEmpregoApp.vaga.home.notFound">No vagas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="vagas && vagas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="descricao">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.descricao">Descricao</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="titulo">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.titulo">Titulo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="estagio">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.estagio">Estagio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="salario">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.salario">Salario</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="beneficios">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.beneficios">Beneficios</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="jornadaSemanal">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.jornadaSemanal">Jornada Semanal</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="bannerUrl">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.bannerUrl">Banner Url</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fonte">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.fonte">Fonte</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="linkRecrutamento">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.linkRecrutamento">Link Recrutamento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ativo">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.ativo">Ativo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="preenchida">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.preenchida">Preenchida</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="criado">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.criado">Criado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prazoAnuncio">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.prazoAnuncio">Prazo Anuncio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cadastrou.nome">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.cadastrou">Cadastrou</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="empresa.nome">
            <span jhiTranslate="portalVagasEmpregoApp.vaga.empresa">Empresa</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vaga of vagas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vaga', vaga.id, 'view']">{{ vaga.id }}</a>
          </td>
          <td>{{ vaga.descricao }}</td>
          <td>{{ vaga.titulo }}</td>
          <td>{{ vaga.estagio }}</td>
          <td>{{ vaga.salario }}</td>
          <td>{{ vaga.beneficios }}</td>
          <td>{{ vaga.jornadaSemanal }}</td>
          <td>{{ vaga.bannerUrl }}</td>
          <td>{{ vaga.fonte }}</td>
          <td>{{ vaga.linkRecrutamento }}</td>
          <td>{{ vaga.ativo }}</td>
          <td>{{ vaga.preenchida }}</td>
          <td>{{ vaga.criado | formatMediumDatetime }}</td>
          <td>{{ vaga.prazoAnuncio | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="vaga.cadastrou">
              <a [routerLink]="['/pessoa', vaga.cadastrou?.id, 'view']">{{ vaga.cadastrou?.nome }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="vaga.empresa">
              <a [routerLink]="['/empresa', vaga.empresa?.id, 'view']">{{ vaga.empresa?.nome }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/vaga', vaga.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/vaga', vaga.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(vaga)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="vagas && vagas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
