<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="curso">
      <h2 data-cy="cursoDetailsHeading"><span jhiTranslate="portalVagasEmpregoApp.curso.detail.title">Curso</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ curso.id }}</span>
        </dd>
        <dt><span jhiTranslate="portalVagasEmpregoApp.curso.nome">Nome</span></dt>
        <dd>
          <span>{{ curso.nome }}</span>
        </dd>
        <dt><span jhiTranslate="portalVagasEmpregoApp.curso.descricao">Descricao</span></dt>
        <dd>
          <span>{{ curso.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="portalVagasEmpregoApp.curso.periodo">Periodo</span></dt>
        <dd>
          <span>{{ curso.periodo | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="portalVagasEmpregoApp.curso.criado">Criado</span></dt>
        <dd>
          <span>{{ curso.criado | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="portalVagasEmpregoApp.curso.pessoa">Pessoa</span></dt>
        <dd>
          <div *ngIf="curso.pessoa">
            <a [routerLink]="['/pessoa', curso.pessoa?.id, 'view']">{{ curso.pessoa?.nome }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/curso', curso.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
